body {
    height: 800px;
    width: 1000px;
}

.header {
    font-size: 40px;
    font-family: sans-serif;
    color: goldenrod;
}

.calendar {
    display: grid;
}

.calendar div {
    background-color:lightyellow;
    height: 70px;
    gap: 3px;
    grid: 150px auto auto auto;
    outline: #000000 solid 2px;
    width: 70px;
}

.mondays {
    grid-column: 1;
}

.tuesdays {
    grid-column: 2;
}

.wednesdays {
    grid-column: 3;
}

.thursdays {
    grid-column: 4;
}

.fridays {
    grid-column: 5;
}

.saturdays {
    grid-column: 6;
}

.sundays {
    grid-column: 7;
}

