@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    background-color: #FFFFFF;
    height: 600px;
    margin: 0px;
    padding: 0px;
    width: 677px;
}

.calendar-head {
    background-color: #F8F8F8;
    margin-top: -40px;
    padding: 50px 0px 0px 0px;
    width: 100%;
}

.calendar-head h2 {
    color: #9F9F9F;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    margin-left: 30px;
    padding: 0px 0px 10px 0px;
}

table {
    margin-left: 30px;
}

th {
    font-family: 'Roboto', sans-serif;
    color: #696969;
    font-size: 15px;
    padding: 0px 0px 25px 0px;
    text-align: left;
}

td {
    padding: 5px 70px 60px 5px;
}

td:hover {
    background-color: #EDEDED;
    transition-duration: 1500ms;
}


.nextmonth {
    color: #00000080
}
