body {
    height: 800px;
    width: 1000px;
}

.header {
    font-size: 40px;
    font-family: sans-serif;
    color: goldenrod;
}

.calendar {
    display: grid;
}

.calendar div {
    background-color:lightyellow;
    height: 70px;
    gap: 3px;
    grid: 150px auto auto auto;
    outline: #000000 solid 2px;
    width: 70px;
}

.mondays {
    grid-column: 1;
    text-align:center;
}

.tuesdays {
    grid-column: 2;
    text-align:center;
}

.wednesdays {
    grid-column: 3;
    text-align:center;
}

.thursdays {
    grid-column: 4;
    text-align:center;
}

.fridays {
    grid-column: 5;
    text-align:center;
}

.saturdays {
    grid-column: 6;
    text-align:center;
}

.sundays {
    grid-column: 7;
    text-align:center;
}

.days {
  padding: 10px 0;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: left;
  margin-bottom: 15px;
  font-size:25px;
  color: #777;
}

